################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Parallel-LINQ-Task-Solution/.vs/Parallel-LINQ-Task-Solution
/Parallel-LINQ-Task-Solution/obj/Debug
/Parallel-LINQ-Task-Solution/obj/Release
