################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Parallel-LINQ-Task-Solution/.vs/Parallel-LINQ-Task-Solution
/Parallel-LINQ-Task-Solution/obj/Debug
/Parallel-LINQ-Task-Solution/obj/Release
/Class-Parallel-Task-Solution/obj/Release
/Class-Parallel-Task-Solution/obj/Debug
/Class-Parallel-Task-Solution/bin/Debug
/Class-Parallel-Task-Solution/bin/Release
/Class-Parallel-Task-Solution/.vs/Class-Parallel-Task-Solution/v17
*.vsidx
/Task-Parallelism-Task-Solution/.vs/Task-Parallelism-Task-Solution/v17
/Task-Parallelism-Task-Solution/bin/Debug
/Task-Parallelism-Task-Solution/obj/Debug
/Task-Parallelism-Task-Solution/obj/Release
/Working-with-AggregateException-Task-Solution/.vs/Working-with-AggregateException-Task-Solution/v17
/Working-with-AggregateException-Task-Solution/obj/Debug
